/* * {
  margin: 0;
  padding: 0;
}
body {
  font-family: roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
}
img {
  display: block;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
h2 {
  margin: 0;
}
header {
  border-bottom: 1px solid #ececec;
  width: 100%;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.main {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .header__logo {
  color: #2196f3;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.18;
  text-decoration: none;
  padding-right: 93px;
}
.header__logo--black {
  color: #000000;
} */
/* .navigation__link {
  color: #212121;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
  outline: none !important;
  color: #2196f3;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .contact__links {
  display: flex;
  align-items: center;
  color: #757575;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  gap: 10px;
  fill: #757575;
} */
/* .contact__links:hover,
.contact__links:focus {
  outline: none !important;
  color: #2196f3;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .slogan__text {
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  padding-bottom: 30px;
} */
/* .slogan {
  background-image: url("../images/people-in-office.jpg"),
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  max-width: 1600px;
  text-align: center;
  padding: 200px 0;
  background-size: cover;
  margin: 0 auto;
} */
/* .slogan__button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  padding: 10px 42px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */
/* .section-lorem {
  background-color: white;
} */
/* .section-lorem__headings {
  color: #212121;
  font-weight: 700;
  line-height: 1.15;
  font-style: normal;
  padding-bottom: 10px;
  padding-top: 30px;
} */
/* .section-lorem__text {
  color: #757575;
  line-height: 1.7;
  font-weight: 400;
} */

/* .section-headings {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  padding-bottom: 50px;
} */
/* .what-we-do {
  text-align: center;
  background-color: white;
} */
/* .who-is-who {
  padding-bottom: 108px;
} */
/* .background-our-team {
  background-color: #f5f4fa;
  text-align: center;
  width: 100%;
} */
/* .our-team__card {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
} */
/* .card {
  padding: 30px 30px;
} */
/* .card__name {
  color: #212121;
  font-size: 16px;
  line-height: 1.7;
} */
/* .card__position {
  color: #757575;
  font-size: 16px;
  line-height: 1.7;
} */
/* .footer__logo--white {
  color: #ffffff;
} */
/* .footer {
  background-color: #2f303a;
  width: 100%;
} */
/* .footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
} */
/* .footer__address {
  color: #ffffff;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 9px;
} */
.address {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  text-decoration: none;
}

/* .bookmarks-section__buttons {
  color: #212121;
  background-color: #f5f4fa;
  line-height: 1.6;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  font-weight: 500;
} */
/* .bookmarks-section__buttons:hover,
.bookmarks-section__buttons:focus {
  outline: none !important;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .main-portfolio {
  background-color: white;
} */
/* .tiles-section__border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
} */

/* .tiles-section__name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
} */
/* .tiles-section__specification {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
} */
/* .tiles-section__table:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
} */
/* .header__nav {
  display: flex;
} */
/* .navigation {
  display: flex;
  align-items: center;
} */
/* .header {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
} */
/* .navigation__elements {
  display: flex;
  gap: 46px;
} */
/* .contact {
  display: flex;
  gap: 50px;
  align-items: center;
} */

/* .section-lorem__box {
  display: flex;
  gap: 30px;
  margin: auto;
  padding-top: 94px;
} */
/* .what-we-do-section {
  display: flex;
  gap: 30px;
} */
/* .our-team {
  display: flex;
  gap: 30px;
} */
/* .bookmarks-section {
  display: flex;
  gap: 8px;
  padding-bottom: 50px;
  justify-content: center;
} */
/* .tiles-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
} */

/* .section-lorem__icon {
  border-radius: 4px;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  padding: 25px;
} */
/* .our-customer__icon {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  padding: 17.71px 32px 14.25px 32px;
  row-gap: 30px;
} */
/* .our-customer__icon:hover,
.our-customer__icon:focus {
  outline: none !important;
  fill: #2196f3;
  border: solid 1px #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .our-customer {
  display: flex;
  gap: 30px;
  justify-content: center;
} */
/* .section-our-customer {
  background-color: white;
  text-align: center;
  
  justify-content: space-between;
} */
/* .card__icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
} */
/* .card__circle {
  display: flex;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
} */
/* .card__circle:hover,
.card__circle:focus {
  outline: none !important;
  fill: #ffffff;
  background: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
} */
/* .footer__box {
  margin-left: 70px;
} */
/* .footer__heading {
  color: #eeeeee;
  padding-bottom: 20px;
  padding-top: 12px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
} */
/* .icon__box {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  fill: #eeeeee;
} */
/* .icon__box:hover,
.icon__box:focus {
  outline: none !important;
  fill: #ffffff;
  background: #2196f3;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon__box {
  display: flex;
  justify-content: center;
} */
/* .address {
  display: flex;
  flex-flow: column;
} */
/* .footer__logo {
  display: flex;
  column-gap: 70px;
} */
/* .what-we-do-section__picture {
  position: relative;
  display: inline-flex;
} */
/* .what-we-do-section__title {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
  bottom: 0;
  padding: 27px 90px;
  text-align: center;
} */
/* .tiles-section__image {
  position: relative;
} */
/* .tiles-section__image > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
/* .tiles-section__description {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(33, 150, 243, 0.9);
  padding: 49px 45px 49px 24px;
  color: #fff;
  font-size: 18px;
  color: #ffffff;
  line-height: 28px;
} */
/* .tiles-section__card figcaption {
  padding: 20px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */
/* .tiles-section__image {
  overflow: hidden;
} */
/* .tiles-section__description {
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .tiles-section__card:hover .tiles-section__description {
  transform: translateY(0);
} */
/* .navigation__link--underline::after {
  content: "";
  display: block;
  position: absolute;
  width: 58px;
  height: 4px;
  border-radius: 2px;
  top: 77.5px;
  
  background-color: #2196f3;
} */
/* .navigation__link--underline {
  color: #2196f3;
} */
/* .backdrop-section__modal {
  position: absolute;
  width: 528px;
  height: 581px;
  
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform 250ms ease-in-out;
} */

/* .backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
} */
/* .backdrop-section {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
} */

/* .is-hidden .backdrop-section__modal {
  transform: scale(0);
  
} */
/* .backdrop-section__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  background: #ffffff;
  color: #000000;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
} */
/* .backdrop-section__close-btn:hover {
  color: #ffffff;
  background: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .newsletter-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: rgba(47, 48, 58, 1);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: #eeeeee;
} */
/* .newsletter-button {
  position: absolute;
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-right: 42px;
} */
/* .backdrop-section__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 40px;
  padding-bottom: 12px;
} */
/* .form__input {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
} */
/* .form__label {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  width: 24px;
  height: 14px;
  color: #757575;
  margin-left: 40px;
  padding-bottom: 4px;
} */

/* .form__input:hover,
.form__input:focus {
  outline: none;
  border: solid 1px #2196f3;
  cursor: pointer;
  transition-duration: 250ms;
} */
/* .form__button {
  position: relative;
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 10px 76px;
  font-weight: 700;
  width: 200px;
  height: 50px;
  bottom: 40px;
} */
/* .form__check {
  margin-top: 74px;
} */
/* .form--inline-check {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  width: 16px;
  height: 15px;
  cursor: pointer;
  visibility: hidden;
} */
/* .form--inline-checked::before {
  content: "";
  border: 1px solid;
  border-radius: 3px;
  width: 16px;
  height: 15px;
  position: absolute;
  visibility: visible;
} */
/* .form__policy {
  color: #2196f3;
} */
/* .form__icon {
  position: absolute;
  margin-left: 15px;
  margin-top: 14px;
} */
/* .form:hover,
.form:focus {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .newsletter-icon {
  fill: #ffffff;
  position: absolute;
  right: 28px;
  top: 13px;
} */
/* .form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
} */
/* .form__textarea:hover,
.form__textarea:focus {
  outline: none;
  border: solid 1px #2196f3;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .form__checkbox {
  position: absolute;
  right: 454.5px;
  top: 425.5px;
  visibility: hidden;
} */
/* .form--inline-check:checked ~ .form__checkbox {
  visibility: visible;
} */

/* .form--inline {
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  margin-top: 20px;
} */
