.section-lorem {
  background-color: $whiteColor;

  &__headings {
    color: $blackColor;
    font-weight: 700;
    line-height: 1.15;
    font-style: normal;
    padding-bottom: 10px;
    padding-top: 30px;
  }
  &__text {
    color: $greyColor;
    line-height: 1.7;
    font-weight: 400;
  }
  &__box {
    display: flex;
    gap: 30px;
    margin: auto;
    padding-top: 94px;
  }
  &__icon {
    border-radius: 4px;
    background-color: $backgroundColorFromIcon;
    width: 270px;
    height: 120px;
    padding: 25px;
  }
}
