.background-our-team {
  background-color: $backgroundColorOutTeam;
  text-align: center;
  width: 100%;
}
.our-team {
  display: flex;
  gap: 30px;
  &__card {
    background-color: $whiteColor;
    box-shadow: $boxShadowModal;
    border-radius: 0px 0px 4px 4px;
    width: 270px;
  }
}
.card {
  padding: 30px 30px;
  &__name {
    color: $blackColor;
    font-size: 16px;
    line-height: 1.7;
  }
  &__icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
  }
  &__position {
    color: $greyColor;
    font-size: 16px;
    line-height: 1.7;
  }
  &__circle {
    display: flex;
    fill: $colorCircleOurTeam;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
  &__circle:hover,
  &__circle:focus {
    outline: none !important;
    fill: $whiteColor;
    background: $blueColorPointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
